{
  "extends": ["prettier", "prettier/react"],
  "rules": {
    "max-len": ["error", { "code": 100, "tabWidth": 2 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100
      }
    ]
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint"
}
